#mainnav{
	background-color:#000a1a;
	color:red;
	border:0px;
}
pre{

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#logo{
	height:220px;
	padding-left:40px;
	background-color:white;
	background-repeat:no-repeat;
}

.container-fluid{
	padding:0px;
	margin:0px;
}

#name{
	height:220px;
	background-color:#001433;
    box-shadow:5px 10px #888888;
}

#fam{
	font-family:avantgarde md bt;
	background-color:#80b3ff;
}
.parallex{
    background-image:url('pics/parallex.jpg');
    height: 100%;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
	color:white;
}

.social-icons{
	font-size:30px;
	background-color:white;
	padding-top:100px;
}

.button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}